@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;800&family=Lobster+Two:ital,wght@0,700;1,400&display=swap');

.homeimg3 {
  position: absolute;
  z-index: 1;
  right: 20%;
}

#wrapper {
  background: orange;
  position: relative;
}

#feedback {
  position: fixed;
  right: 0;
  top: 120px;
}

.font {
  font-family: 'Epilogue', sans-serif;
  line-height: 111%;
}

.btn-outline-none {
  border: none;
}