@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;800&family=Lobster+Two:ital,wght@0,700;1,400&display=swap');

.homeimg3 {
  position: absolute;
  z-index: 1;
  right: 20%;
}

* {
  color: white;
  font-family: 'Epilogue', sans-serif;
  line-height: 111%;
}


.btn {
  font-weight: 300;
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 10px 4px 10px;
  border: solid #ffffff 1px;
  text-decoration: none;
}

.btn:hover {
  color: #29283e !important;
  background-color: white;
}


@media (max-width: 990px) {
  .right-img {
    display: none;
  }

}