.HomePageContent{
    display: flex;
    justify-content: center;
    /* margin-top: 7%%; */
  }
  
  .left-content{
    height: 500px;
    width: 500px;
    background-color: #1d1b4a;
    margin-right: 3%;
    padding-right: 7%;
    margin-left: 6%;
    position: relative;
  }
  
  .homeimg3{
    position: absolute;
    z-index: 1;
    right: 20%;
  }
  
  .left-content h1{
    font-size: 60px;
    margin-bottom: 5%;
    margin-top: 3%;
    font-family: 'Epilogue', sans-serif;
  }
  .left-content-agency{
    font-family: 'Ropa Sans', sans-serif;
  }
  .IEEE{
    color: #9DD6DF;
  }
  .home-button-1 {
    font-family: 'Epilogue', sans-serif;
    height: 50px;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 5px;
    transition-duration: 0.4s;
  }
  
  .home-button-1:hover{
    background-color: white;
    color: black;
  }
  .home-button-2:hover{
    background-color: white;
    color: black;
  }
  
  
  .home-button-2{
    height: 50px;
    background-color: #1d1b4a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 5px;
    margin-left: 10%;
    transition-duration: 0.4s;
    font-family: 'Ropa Sans', sans-serif;
  }
  .button-div{
    display: flex;
  }
  
  .right-content{
    position: relative;
    height: 500px;
    width: 500px;
    background-color: #1d1b4a;
    margin-left: 3%;
  }
  
  .right-content-img{
    position: absolute;
    height: 300px;
    width: 500px;
    top: 10%;
  }
  
  .left-bottom{
    display: flex;
    margin-top: 7%;
  }
  
  .left-bottom-content{
    margin-left: 5%;
  }
  
  .left-bottom-content p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Ropa Sans', sans-serif;
  }